<!-- Header   -->
<div class="bg-green-600 p-4 flex justify-between items-center">
  <!-- Left Side Nav -->
  <div class="flex items-center">
    <img src="https://cdn4.iconfinder.com/data/icons/zoo-line-welcome-to-zootopia/512/crocodile-512.png" width="75" alt="Logo" class="mx-5">
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Home</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Meals</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">About</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Contact</a>
  </div>

  <!-- Right Side Nav -->
  <div>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Login</a>
    <a href="#" class="text-lg font-semibold inline-block py-2 px-4 bg-yellow-300 rounded hover:bg-yellow-400 transition ease-in duration-200">Sign Up</a>
  </div>
</div>

<!-- Hero -->
<div class="md:flex justify-between py-20 px-10 bg-yellow-300">
  <!-- Left Side Hero -->
  <div class="md:w-1/2 mb-10 md:mb-0">
    <h2 class="lg:text-6xl md:text-5xl mb-6">Welcome to Crockodile!</h2>
    <p class="mb-6">Simple & delicious meals with no clean up!</p>

    <a href="#" class="inline-block py-3 px-6 text-lg text-gray-50 font-semibold bg-green-600 hover:bg-green-400 transition ease-in duration-200 rounded mr-3">Learn More</a>
    <a href="#" class="inline-block py-3 px-6 text-lg text-gray-50 font-semibold bg-green-600 hover:bg-green-400 transition ease-in duration-200 rounded">Get Started</a>
  </div>

  <!-- Left Side Hero -->
  <div class="md:w-1/2">
    <img src="https://images.unsplash.com/photo-1583403608431-dd0e30a78961?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2467&q=80" alt="Example Meal" class="w-full rounded shadow-lg">
  </div>
</div>

<!-- Features -->
<div class="md:flex py-16 px-10 bg-green-600 text-gray-50 font-semibold text-center">
  <div class="mr-2 text-center">
    <img src="https://images.unsplash.com/photo-1613552496394-4e4b3f074e4f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1368&q=80" alt="Meal" class="w-full rounded border-solid border-2 border-yellow-400 mb-4">
    <p class="inline-block p-2 mr-2">Delicious</p>
  </div>
  <div class="mr-2 text-center">
    <img src="https://images.unsplash.com/photo-1607170286712-3b20563630e4?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHNsb3clMjBjb29rZXIlMjBtZWFsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="Meal" class="w-full rounded border-solid border-2 border-yellow-400 mb-4">
    <p class="inline-block p-2 mr-2">Easy</p>
  </div>
  <div class="mr-2 text-center">
    <img src="https://images.unsplash.com/photo-1607492701914-4b00ed15ec94?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80" alt="Meal" class="w-full rounded border-solid border-2 border-yellow-400 mb-4">
    <p class="inline-block p-2 mr-2">Delicious</p>
  </div>
  <div class="mr-2 text-center">
    <img src="https://images.unsplash.com/photo-1584509171119-9054d2d7d9a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Meal" class="w-full rounded border-solid border-2 border-yellow-400 mb-4">
    <p class="inline-block p-2 mr-2">Easy</p>
  </div>
</div>

<!-- Footer -->
<div class="p-10 bg-green-800 font-semibold text-gray-50 flex justify-between">
  <!-- Left Side Footer -->
  <div class="md:w-1/2">
    <h3 class="text-lg mb-2">Sign up for Newsletter</h3>

    <form action="POST" class="flex">
      <input type="email" class="w-full text-black rounded-l py-3 px-4 outline-none focus:bg-yellow-100">
      <button class="bg-yellow-300 hover:bg-yellow-400 font-semibold text-black rounded-r px-4">Join</button>
    </form>
  </div>

  <!-- Right Side Footer -->
  <div class="flex items-center">
    Copyright &copy; Crockodile 2021
  </div>
</div>