<div class="md:flex justify-between py-20 px-10 bg-yellow-300">
  <!-- Left Side Hero -->
  <div class="md:w-1/2 mb-10 md:mb-0">
    <h2 class="lg:text-6xl md:text-5xl mb-6">About</h2>
    <p class="mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illum quaerat nesciunt? Possimus, reprehenderit. Aperiam recusandae ducimus, inventore enim nulla exercitationem nihil nisi quidem placeat consectetur? Fuga libero sit sunt!</p>

  </div>
</div>
    <!-- Features -->
    <section class="container mx-auto px-6 p-10">
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-green-800 font-bold mb-3">
            Our Vision
          </h4>
          <p class="text-gray-600 mb-8">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, amet quod? Suscipit ipsa, repudiandae dolores aut rem debitis voluptatem, dicta officia fuga animi corporis, perferendis cum nobis amet esse dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero nulla accusamus perspiciatis perferendis deserunt. Rem pariatur expedita esse ab accusantium voluptatibus sit assumenda, provident quam enim odio fugiat aut? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quos voluptatem molestias, cum quibusdam eius autem dignissimos sequi esse fugiat, voluptate hic porro quia dolorum minus! Laudantium, fugiat? Itaque, mollitia.
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <img
            src="https://www.dropbox.com/s/mimcvn6zxtoruis/health.svg?raw=1"
            alt="Monitoring"
          />
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <img
            src="https://www.dropbox.com/s/hllo2ueo8zgi2tt/report.svg?raw=1"
            alt="Reporting"
          />
        </div>
        <div class="w-full md:w-1/2 pl-10">
          <h4 class="text-3xl text-green-800 font-bold mb-3">
            Why Us?
          </h4>
          <p class="text-gray-600 mb-8">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, amet quod? Suscipit ipsa, repudiandae dolores aut rem debitis voluptatem, dicta officia fuga animi corporis, perferendis cum nobis amet esse dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero nulla accusamus perspiciatis perferendis deserunt. Rem pariatur expedita esse ab accusantium voluptatibus sit assumenda, provident quam enim odio fugiat aut? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quos voluptatem molestias, cum quibusdam eius autem dignissimos sequi esse fugiat, voluptate hic porro quia dolorum minus! Laudantium, fugiat? Itaque, mollitia.
          </p>
        </div>
      </div>
      <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
          <h4 class="text-3xl text-green-800 font-bold mb-3">
            Time Saved
          </h4>
          <p class="text-gray-600 mb-8">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, amet quod? Suscipit ipsa, repudiandae dolores aut rem debitis voluptatem, dicta officia fuga animi corporis, perferendis cum nobis amet esse dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis libero nulla accusamus perspiciatis perferendis deserunt. Rem pariatur expedita esse ab accusantium voluptatibus sit assumenda, provident quam enim odio fugiat aut? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quos voluptatem molestias, cum quibusdam eius autem dignissimos sequi esse fugiat, voluptate hic porro quia dolorum minus! Laudantium, fugiat? Itaque, mollitia.
          </p>
        </div>
        <div class="w-full md:w-1/2">
          <img
            src="https://www.dropbox.com/s/v0x0ywlvgmw04z6/sync.svg?raw=1"
            alt="Syncing"
          />
        </div>
      </div>
    </section>
    <!-- Testimonials -->
    <section class="bg-green-800">
      <div class="container mx-auto px-6 py-20">
        <h2 class="text-4xl font-bold text-center text-yellow-300 mb-8">
          Testimonials
        </h2>
        <div class="flex flex-wrap">
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur, fugiat blanditiis ullam natus, rerum sit sunt, animi tenetur vero sint hic totam numquam? Placeat corrupti eum necessitatibus nobis quaerat?
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                John Doe
              </p>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi voluptatem possimus blanditiis molestias rerum eligendi consectetur dignissimos error alias sint? Sed voluptatum ad saepe suscipit quasi qui nesciunt maxime eligendi!
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                Jane Doe
              </p>
            </div>
          </div>
          <div class="w-full md:w-1/3 px-2 mb-4">
            <div class="bg-white rounded shadow py-2">
              <p class="text-gray-800 text-base px-6 mb-5">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquid, facilis, illo libero commodi cumque non aut mollitia quae, tenetur nesciunt doloremque numquam. Impedit temporibus veniam sunt a atque porro!
              </p>
              <p class="text-gray-500 text-xs md:text-sm px-6">
                James Doe
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Call to Action-->
    <section class="bg-yellow-400">
      <div class="container mx-auto px-6 text-center py-20">
        <h2 class="mb-6 text-4xl font-bold text-center text-green-800">
          Order A Meal Now!
        </h2>
        <h3 class="my-4 text-2xl text-green-800">
          Get get 15% off your first order!
        </h3>
        <%= link_to "Meals", products_path, class:"font-bold inline-block py-3 px-6 ml-3 mt-6 text-lg text-white font-semibold bg-green-800 rounded hover:bg-green-600 transition ease-in duration-200" %>
      </div>
    </section>