<div class="md:flex justify-between py-20 px-10 bg-yellow-300">
  <!-- Left Side Hero -->
  <div class="md:w-1/2 mb-10 md:mb-0">
    <h2 class="lg:text-6xl md:text-5xl mb-6">Contact</h2>
    <p class="mb-6 text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet illum quaerat nesciunt? Possimus, reprehenderit. Aperiam recusandae ducimus, inventore enim nulla exercitationem nihil nisi quidem placeat consectetur? Fuga libero sit sunt!</p>

    <a href="#" class="inline-block py-3 px-6 text-lg text-gray-50 font-semibold bg-green-800 hover:bg-green-600 transition ease-in duration-200 rounded mr-3">Learn More</a>
  </div>
</div>