<div class="md:flex justify-between py-20 px-10 bg-yellow-300">
  <!-- Left Side Hero -->
  <div class="md:w-1/2 mb-10 md:mb-0">
    <h2 class="lg:text-6xl md:text-5xl mb-6">Meals</h2>
    <p class="mb-6 text-xl">Crockodile meals are vacuum sealed and ready to be emptied into your slow cooker</p>

    <a href="#" class="inline-block py-3 px-6 text-lg text-gray-50 font-semibold bg-green-800 hover:bg-green-600 transition ease-in duration-200 rounded mr-3">Learn More</a>
  </div>
</div>

<section class="bg-green-800 h-50">
        <div class="container mx-auto py-8">
          <input class="w-full h-16 rounded mb-8 focus:outline-none focus:shadow-outline text-xl px-8 shadow-lg" type="search" placeholder="Search...">
          <nav class="flex">
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mr-3 hover:bg-yellow-200 rounded-full" href="#">Available</a>
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mx-3 hover:bg-yellow-200 rounded-full" href="#">Gluten Free</a>
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mx-3 hover:bg-yellow-200 rounded-full" href="#">Kosher</a>
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mx-3 hover:bg-yellow-200 rounded-full" href="#">Vegan</a>
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mx-3 hover:bg-yellow-200 rounded-full" href="#">Vegitarian</a>
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mx-3 hover:bg-yellow-200 rounded-full"  href="#">Dairy Free</a>
            <a class="no-underline text-black front-semibold bg-yellow-300 py-3 px-4 mx-3 hover:bg-yellow-200 rounded-full" href="#">Featured</a>
            <a class="no-underline text-black front-semibold bg-yellow-400 py-3 px-4 ml-auto hover:bg-yellow-300 rounded-md" href="#">Clear</a>
        </nav>
    </div>
</section>

<div class="bg-green-600 mx-auto px-4 md:px-12 lg:px-80">
    <div class="flex flex-wrap mx-1 lg:mx-4">
        <%= render @products %>
    </div>
</div>


