<!-- Footer -->
<div class="p-10 bg-green-800 font-semibold text-gray-50 flex justify-between">
  <!-- Left Side Footer -->
  <div class="md:w-1/2">
    <h3 class="text-lg mb-2">Sign up for Newsletter</h3>

    <form action="POST" class="flex">
      <input type="email" class="w-full text-black rounded-l py-3 px-4 outline-none focus:bg-yellow-100">
      <button class="bg-yellow-400 hover:bg-yellow-300 font-semibold text-black rounded-r px-4">Join</button>
    </form>
  </div>

  <!-- Right Side Footer -->
  <div class="flex items-center">
    Copyright &copy; Crockodile 2021
  </div>
</div>