<!-- Header   -->
<div class="bg-green-600 p-4 flex justify-between items-center">
  <!-- Left Side Nav -->
  <div class="flex items-center">
    <img src="https://cdn4.iconfinder.com/data/icons/zoo-line-welcome-to-zootopia/512/crocodile-512.png" width="75" alt="Logo" class="mx-5">
    <a href="<%= root_path %>" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Home</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Meals</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">About</a>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Contact</a>
  </div>

  <!-- Right Side Nav -->
  <div>
    <a href="#" class="text-lg font-semibold inline-block p-2 mr-2 text-gray-50 hover:text-green-400">Login</a>
    <a href="#" class="text-lg font-semibold inline-block py-2 px-4 bg-yellow-300 rounded hover:bg-yellow-400 transition ease-in duration-200">Sign Up</a>
  </div>
</div>